In [9]:
import sys
!{sys.executable} -m pip install nltk

Collecting nltk
  Downloading https://files.pythonhosted.org/packages/f6/1d/d925cfb4f324ede997f6d47bea4d9babba51b49e87a767c170b77005889d/nltk-3.4.5.zip (1.5MB)
     |████████████████████████████████| 1.5MB 2.2MB/s eta 0:00:01
Requirement already satisfied: six in ./python_projects_env/lib/python3.6/site-packages (from nltk) (1.14.0)
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.4.5-cp36-none-any.whl size=1449907 sha256=0c620ea2cb2fa14f7b42cb753d8696616f3a85827707c4a44cbb27791228ee37
  Stored in directory: /home/vno/.cache/pip/wheels/96/86/f6/68ab24c23f207c0077381a5e3904b2815136b879538a24b483
Successfully built nltk
Installing collected packages: nltk
Successfully installed nltk-3.4.5
WARNING: You are using pip version 19.3.1; however, version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [ ]:
## Analaysing sms data to be able to identify spam messages using sklearn library

In [10]:
import pandas as pd
import sklearn
import nltk

In [3]:
data_frame = pd.read_csv('spam.csv', encoding = 'latin-1')
data_frame.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [11]:
# Descriptions of each column in our dataset
data_frame.describe().transpose()

,count,unique,top,freq
v1,5572,2,ham,4825
v2,5572,5169,"Sorry, I'll call later",30
Unnamed: 2,50,43,"bt not his girlfrnd... G o o d n i g h t . . .@""",3
Unnamed: 3,12,10,"MK17 92H. 450Ppw 16""",2
Unnamed: 4,6,5,"GNT:-)""",2

In [12]:
print('Value for [v1]:')
print(data_frame['v1'], '\n')

Value for [v1]:
0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: v1, Length: 5572, dtype: object

In [14]:
print('Value for [Unnamed: 4]:')
print(data_frame['Unnamed: 4'], '\n')

Value for [Unnamed: 4]:
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
5567    NaN
5568    NaN
5569    NaN
5570    NaN
5571    NaN
Name: Unnamed: 4, Length: 5572, dtype: object

In [16]:
print('Value for [v1 == ham]:')
print(data_frame['v1'] == 'ham', '\n')

Value for [v1 == ham]:
0        True
1        True
2       False
3        True
4        True
        ...
5567    False
5568     True
5569     True
5570     True
5571     True
Name: v1, Length: 5572, dtype: bool

In [17]:
print(data_frame['v2'].str.len())

0       111
1        29
2       155
3        49
4        61
       ...
5567    161
5568     37
5569     57
5570    125
5571     26
Name: v2, Length: 5572, dtype: int64

In [19]:
print(data_frame['v2'].apply(lambda t: len(t)))

0       111
1        29
2       155
3        49
4        61
       ...
5567    161
5568     37
5569     57
5570    125
5571     26
Name: v2, Length: 5572, dtype: int64

In [ ]:
#data_frame.loc[row selector, col selector]: Access group of values using labels or logical arrays

In [21]:
#loc with label names and logical arrays
print('All spam rows:')
print(data_frame.loc[data_frame['v1'] == 'spam', :])

print('\nAll spam text:')
print(data_frame.loc[data_frame['v1'] == 'spam', 'v2'])

print('\nAll short spam text:')
print(data_frame.loc[(data_frame['v1'] == 'spam') & (data_frame['v2'].str.len() < 40), 'v2'])

All spam rows:
        v1                                                 v2 Unnamed: 2  \
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
5     spam  FreeMsg Hey there darling it's been 3 week's n...        NaN
8     spam  WINNER!! As a valued network customer you have...        NaN
9     spam  Had your mobile 11 months or more? U R entitle...        NaN
11    spam  SIX chances to win CASH! From 100 to 20,000 po...        NaN
...    ...                                                ...        ...
5537  spam  Want explicit SEX in 30 secs? Ring 02073162414...        NaN
5540  spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...        NaN
5547  spam  Had your contract mobile 11 Mnths? Latest Moto...        NaN
5566  spam  REMINDER FROM O2: To get 2.50 pounds free call...        NaN
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN

     Unnamed: 3 Unnamed: 4
2           NaN        NaN
5           NaN        NaN
8           NaN        NaN
9           NaN        NaN
11          NaN        NaN
...         ...        ...
5537        NaN        NaN
5540        NaN        NaN
5547        NaN        NaN
5566        NaN        NaN
5567        NaN        NaN

[747 rows x 5 columns]

All spam text:
2       Free entry in 2 a wkly comp to win FA Cup fina...
5       FreeMsg Hey there darling it's been 3 week's n...
8       WINNER!! As a valued network customer you have...
9       Had your mobile 11 months or more? U R entitle...
11      SIX chances to win CASH! From 100 to 20,000 po...
                              ...
5537    Want explicit SEX in 30 secs? Ring 02073162414...
5540    ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547    Had your contract mobile 11 Mnths? Latest Moto...
5566    REMINDER FROM O2: To get 2.50 pounds free call...
5567    This is the 2nd time we have tried 2 contact u...
Name: v2, Length: 747, dtype: object

All short spam text:
712     08714712388 between 10am-7pm Cost 10p
1776        Call FREEPHONE 0800 542 0578 now!
2078           85233 FREE>Ringtone!Reply REAL
2268        88066 FROM 88066 LOST 3POUND HELP
2698                FROM 88066 LOST å£12 HELP
2802        FreeMsg>FAV XMAS TONES!Reply REAL
3740                            2/2 146tf150p
3979                       ringtoneking 84484
Name: v2, dtype: object

In [25]:
#iloc with slicing on indices
print('Rows from 10 to 22, cols from 0 to 2')
print(data_frame.iloc[10:22, 0:2])

Rows from 5 to 15, cols from 0 to 2
      v1                                                 v2
10   ham  I'm gonna be home soon and i don't want to tal...
11  spam  SIX chances to win CASH! From 100 to 20,000 po...
12  spam  URGENT! You have won a 1 week FREE membership ...
13   ham  I've been searching for the right words to tha...
14   ham                I HAVE A DATE ON SUNDAY WITH WILL!!
15  spam  XXXMobileMovieClub: To use your credit, click ...
16   ham                         Oh k...i'm watching here:)
17   ham  Eh u remember how 2 spell his name... Yes i di...
18   ham  Fine if thatåÕs the way u feel. ThatåÕs the wa...
19  spam  England v Macedonia - dont miss the goals/team...
20   ham          Is that seriously how you spell his name?
21   ham  IÛ÷m going to try for 2 months ha ha only joking

In [26]:
spam_frame = data_frame.loc[data_frame['v1'] == 'spam']
print('Spam rows from 0 to 10')
print(spam_frame.iloc[0:10, 0:2])
print('\nUsing "at" with index 8 for the row:')
print(spam_frame.at[8, 'v2'])

Spam rows from 0 to 10
      v1                                                 v2
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
5   spam  FreeMsg Hey there darling it's been 3 week's n...
8   spam  WINNER!! As a valued network customer you have...
9   spam  Had your mobile 11 months or more? U R entitle...
11  spam  SIX chances to win CASH! From 100 to 20,000 po...
12  spam  URGENT! You have won a 1 week FREE membership ...
15  spam  XXXMobileMovieClub: To use your credit, click ...
19  spam  England v Macedonia - dont miss the goals/team...
34  spam  Thanks for your subscription to Ringtone UK yo...
42  spam  07732584351 - Rodger Burns - MSG = We tried to...

Using "at" with index 8 for the row:
WINNER!! As a valued network customer you have been selected to receivea å£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.